/* PC */
@media(min-width: 992px) {
    .mobie-header{
        display: none;
    }
}
/* Tablet & mobie */
@media(max-width: 991.98px) {
    .navbar{
        display: none;
    }
    .header-top{
        position: relative;
    }
    .header__logo{
        position: absolute;
        left: 50%;
        translate: -50% -50%;
    }
    .menu-header__icon{
        position: absolute;
        top: 47px;
        left: 29px;
        color: #FFF;
        width: 24px;
    }
    .menu-overlay{
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        inset: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.25s;
    }
    #menu-checkbox:checked ~ .menu-overlay{
        opacity: 1;
        visibility: visible;
    }
    .menu-drawer{
        position: fixed;
        background: brown;
        inset: 0 40% 0 0;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.25s;
        padding: 60px;
    }
    .menu-checkbox:checked ~.menu-drawer{
        transform: translateX(0);
    }
    .close__menu{
        width: 24px;
        color: #FFF;     
    }
    .menu-drawer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #navbar__list--mobie{
        margin-top: 25px;
    }
    .navbar__link{
        display: block;
        font-size: 2rem;
    }
    .navbar__link:hover{
        background: #617ab4;
    }
    .hero{
        flex-direction: column;
        gap: 50px;
    }
    .hero__content{
        order: 2;
        width: 80%;
        margin: 22px auto;
        text-align: center;
    }
    .hero__row{
        justify-content: center;
    }
    .hero__media{
        order: 1;
    }
    .service__row{
        flex-direction: column;
        gap: 20px;
    }
    .service-item{
        width: 100%;
        text-align: start;
    }
    .service__list{
        text-align: center;
    }
    .work__list{
        grid-template-columns: 1fr;
    }
    .about-row{
        flex-direction: column;
        gap: 30px;
    }
    .about__img--small{
        display: none;
    }
    .about-content{
        width: 90%;
        text-align: center;
    }
    .team__list{
        grid-template-columns: repeat(2,1fr);
    }
    .team-item__thumb{
        margin: 0 auto;
    }
    .mobie__inner{
        gap: 0;
    }
    .mobie__img{
        display: none;
    }
    .mobie__content{
        width: 90%;
        margin: 0 auto;
    }
    .blog__inner{
        flex-direction: column;
        gap: 30px;
    }
    .blog__list{
        order: 1;
    }
    .blog__content{
        order: 2;
        width: 90%;
        display: flex;
        flex-direction: column ;
        align-items: center;
    }
    .blog__heading{
        max-width: 90%;
    }
}
/* Tablet  */
@media(min-width:768px) and (max-width: 991.98px) {
    .hidden-tablet{
        display: none;
    }
    .footer__top{
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }
    .show-on-mobie{
        display: none;
    }
}
/* Mobie */
@media(max-width: 767.98px) {
    .header__action{
        display: none;
    }
    .menu-header__icon{
        top: 30px;
    }
    .menu-drawer{
        inset: 0 20% 0 0;
        padding: 10px;
    }
    .navbar__item{
        list-style: none;
    }
    .separate{
        border-top: 1px solid #ca7979;
        margin-top: 10px;
    }
    .hero__img--small{
        display: none;
    }
    .hero__heading{
        font-size: 4rem;
    }
    .hero__row{
        flex-direction: column;
    }
    .service{
        padding: 35px;
    }
    .section-heading{
        font-size: 3rem;
    }
    .service__desc{
        width: 100%;
    }
    .service__img{
        width: 100%;
    }
    .work__desc{
        width: 100%;
    }
    .about{
        margin-top: 20px;
        padding: 40px 0;
    }
    .about__img--big{
        width: 100%;
        height: auto;
    }
    .team__list{
        grid-template-columns: 1fr;
    }
    .mobie{
        padding: 40px 0;
    }
    .mobie__inner{
        padding: 10px;
    }
    .mobie__content{
        min-width: 300px;
    }
    .mobie__heading{
        width: 100%;
    }
    .blog__list{
        grid-template-columns: 1fr;
    }
    .blog__heading{
        text-align: center;
    }
    .cta{
        padding: 20px;
    }
    .cta__inner{
        padding: 10px;
    }
    .cta__desc{
        width: 100%;
    }
    .footer__top{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer__copyright{
        margin-top: 20px;
    }
}
